html{
  scroll-behavior: smooth; /* smooth out the scrolling */
}

main{
  margin-top: -40px;
  padding: 40px;
}

body{
  font-family: Verdana, sans-serif;

}

figcaption{
  text-align: center;
}

figure{
  margin-block-start: 1rem;
  margin-block-end: 1rem;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

/*main content accessibility button */
.skip {
  position: relative;
  top: -40px;
  left:10px;
  transition: top 1s;
}

.skip:focus{
    top: 5px;
    transition: 1s;
    left:10px;
    
}

.centered{
    text-align: center;
    
}

header{
    color: rgb(0, 0, 0);
    margin: 5px;
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
}

/* Styling the navigation bar */
nav {
  color: black;
  overflow: hidden; /* Ensure the navbar doesn't overflow its container */
  width: 100%;
  text-align: center;
}

/* Style the links inside the navigation bar */
nav a {
  /* float: center; Float the links to the center */
  color: rgb(0, 0, 0); /* Text color */
  text-align: center; /* Center the text */
  text-decoration: none; /* Remove default underline */
  padding: 15px 15px; 
  margin: 5px; 
  border-radius: 5px;
}

/* Change the color of links on hover */
nav a:hover {
  background-color: #000000; /* Background color on hover */
  color: rgb(255, 255, 255); /* Text color on hover */
  border-radius: 5px;
  padding: 15px; 
  margin: 5px;
  transition: 0.5s;
}

nav ul {
  list-style-type: none; /* Remove bullet points */
  padding: 15px 15px; 
  margin: 5px; 
}

nav ul li {
  display: inline-block; /*makes the nav bar stack better*/
  margin: 15px;
  /* add padding? */
}

.current {
  font-weight:bold;


}

.current::before{
  content: "\2618  ";
}
.current::after{
  content: " \2618";
}

.photos {
  width: 300px;
  
}

.blog-grid {
  display: grid;
  grid-template-columns: 1fr;

  justify-content: center;
  margin-top: 10px;
  
}

.blog-grid img{
  display: inline-block;
  /* margin: 2rem; */
  /* padding: 0.5rem; */
  padding-bottom: 0.5rem;
  width: 100%; 
  
}





.image-grid img:nth-child(odd){
  transform:rotate(3deg);
}
.image-grid img:nth-child(even){
  transform:rotate(-3deg);
}
.image-grid img:last-child{
  transform:rotate(0deg);
}
.image-grid img:first-child{
  transform:rotate(0deg);
}


.image-grid{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px,1fr)); 
  justify-content:center;
  
}
.image-grid img{
  box-shadow: 0 0.2rem 1.2rem rgba(0,0,0,0.2);
  max-width: 100%;
  display: inline-block;
  filter: grayscale(100%);
  width: 100%;
  
}

.image-grid img:hover, .image-grid img:focus{
  filter: none;
  transition: all 0.35s;

}

.image-grid img:last-child{
  grid-column: auto/span<2>;
}

p{
  margin-bottom: 5px;
}
.reverse{
  display: flex;
  flex-direction: column-reverse;
}



.page-title{
  border: solid black 1px;
  padding: 5px;
  width: auto;
  display: block;
  margin: 10px auto; 
  text-align: center;
  border-radius: 10px;
}



.polaroid{
  background: #fff;
  padding: 1rem;
  box-shadow: 0 0.2rem 1.2rem rgba(0,0,0,0.2);
  max-width: 100%;
  /* display: inline-block; */
  /* margin-top: 2rem; */
  padding-bottom: 4rem;
  width: 500px; 
  height: 337px; 
  object-fit: cover; 
  object-position: 50% 50%;
  display: block;
  margin: auto;

}


.container {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
  justify-items: center;
}

/* image stacking */
.image-stack {
  margin-top: 10px;
  display: inline-block;
  position: relative;
  width: 100%;
  
}
.image-stack__item--bottom {
  position: absolute;
  left: 0px;
  top: 0;
  width: auto;  
  z-index: -1;
  display: none;
}
.image-stack__item--top {
  padding-top: 0; 
  padding-left: 0; 
  width: auto; 
  z-index: 1;
}
.container ul{
  
  list-style-type: none;
  margin-left: -50px;

}

.f{
 
}

.f li{
  text-decoration: none;
  border: solid black 1px;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
}

.f li a {
  text-decoration: none; /* Remove underline */
  text-align: center;
}

.page-grid {
  display: grid;
  
  
}

.blog-section{
  flex: 1;
  padding: 2px;
  margin-top: 5px;
  
  
}

.favorite{
  border: solid #a1cca5 5px;
}

.food{
  border: solid #111d13 5px;
}

.fun-facts{
  border: solid #709775 5px;
}


.information{
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
  margin: 10px;
  
}

.information > div{
  overflow: hidden;
}

.information img{
  display: inline-block;
  /* margin: 2rem; */
  padding: 0.5rem;
  width: 100%; 
}


.gallery-grid{
  display: grid;
  grid-template-columns: 1fr;
  justify-content:center;
  gap: 5px;
}
.gallery-grid img{
  background: #fff;
  padding: 1rem;
  box-shadow: 0 0.2rem 1.2rem rgba(0,0,0,0.2);
  width: 100%;

}
.gallery-grid img:hover, .gallery-grid img:focus{
  filter: grayscale();
  transition: all 0.35s;

}




@media (prefers-reduced-motion: reduce) {
  html {
        scroll-behavior: auto; /* Disable smooth scrolling */
  }

  *{
        transition: 0s !important;
  }
}

/* dark theme automatic switch */
@media (prefers-color-scheme: dark) {
  nav {
      background: #000000;
      color: white;
     }
  nav a{
    color:white;
  }
  nav a:hover{
    background-color: #ffffff; /* Background color on hover */
    color: rgb(0, 0, 0); /* Text color on hover */
    border-radius: 10%;
    padding: 15px; 
    margin: 5px;
    transition: 0.5s;
  }
  body {
      background: #000000;
      color: white;
     }
  main {
      background: #000000;
      color: white;
     }
  header{
    background: #000000;
    color: white;
  }
  .panel{
    background-color: black;
  }
 
}


@media screen and (min-width: 40px){
  
}



@media screen and (min-width: 760px){
  .image-grid{
    grid-template-columns: 45% 45%;
    grid-gap: 20px;
  }
  .blog-grid{
    grid-template-columns: 45% 45%;
    grid-gap: 10px;
  }
  .polaroid{
    display: inherit;
  }
  main{
    margin-left: 30px;
    margin-right: 30px; 
  }
  figure{
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
  }
  .gallery-grid{
    grid-template-columns: 1fr 1fr 1fr;
    
  }
  .gallery-grid img{
    filter: none;
  }
  
  
}

@media screen and (min-width: 995px){
  .blog-grid{
    grid-template-columns: 30% 30% 30%;
    grid-gap: 20px;
  }
  .image-grid{
    grid-template-columns: 30% 30% 30%;
    grid-gap: 20px;
  }
  .image-stack__item--top {
    padding-top: 20%; 
    padding-left: 20%; 
    width: 100%; 
  }
   .information{
    grid-template-columns: 30% 70%;
  } 
  .container{
    grid-template-columns: 60% 40%;
  }
  .image-stack__item--bottom{
    display: inherit;
  }
  main{
    margin-left: 50px;
    margin-right: 50px; 
  }
  .gallery-grid{
    grid-template-columns: 1fr 1fr 1fr 1fr;
    
  }
  

}
